/**
 * Products
 */
ul.products {
  @include clearfix;
  margin: 0;
  padding: 0;

  li.product {
    list-style: none;
    margin-bottom: 2em;
    position: relative;

    .woocommerce-loop-product__title {
      @include font-size(10);
    }

    img {
      display: block;
    }

    .button {
      display: block;
    }
  }
}

@media screen and (min-width: 48em) {
  ul.products {
    li.product {
      @include column-width(3);
      float: left;
      margin-right: $columns__margin;

      &.first {
        clear: both;
      }

      &.last {
        margin-right: 0;
      }
    }
  }

  .columns-1 {
    ul.products {
      li.product {
        float: none;
        width: 100%;
      }
    }
  }

  @for $i from 2 through 6 {
    .columns-#{$i} {
      ul.products {
        li.product {
          @include column-width($i);
        }
      }
    }
  }
}
