/**** Colour Utils 
This generates a utility for bg, text, border and icon colours 
based on every colour you have in your colours variable list.
It creates a default Hover style of a darker version of whatever color is.
E.g .bg-red, .text-gray; *** */

@each $name, $color in $colors {
  .bg-#{$name} {
    background: $color;
    &.bg-hover:hover {
      background: darken($color, 10%);
    }
  }
  .text-#{$name} {
    color: $color;
  }

  .text-#{$name} a {
    color: $color;
    &:hover,
    &:focus {
      color: darken($color, 10%);
    }
  }

  .border-#{$name} {
    border-color: $color;
    &:hover,
    &:focus {
      border-color: darken($color, 10%);
    }
  }
  .icon-#{$name}::before {
    color: $color;
    &:hover,
    &:focus {
      color: darken($color, 10%);
    }
  }
}

/* Spacing Utils 
Generate a shit-tonne of spacing utilities from 0 - 12
11 and 12 do 1.5x rem for extremities.
e.g md:
This does every breakpoint size and every direction (pb, mt, mr, pl, etc)
/Spacing Utils */
@each $name, $breakpoint in $grid-breakpoints {
  // Don't generate XS, instead have no prefix eg .mb-2
  @if $name == xs {
    @for $i from 0 through 12 {
      // Combination sizes
      .mx-#{$i} {
        margin-left: #{$i}rem !important;
        margin-right: #{$i}rem !important;
      }
      .my-#{$i} {
        margin-top: #{$i}rem !important;
        margin-bottom: #{$i}rem !important;
      }
      .px-#{$i} {
        padding-left: #{$i}rem !important;
        padding-right: #{$i}rem !important;
      }
      .py-#{$i} {
        padding-top: #{$i}rem !important;
        padding-bottom: #{$i}rem !important;
      }

      // Breakpoint sizes
      @each $short, $long in $box_model {
        .#{$short}-#{$i} {
          @if ($i < 10) {
            #{$long}: #{$i}rem !important;
          } @else {
            #{$long}: #{$i * 1.5}rem !important;
          }
        }
      }
    }
  } @else {
    @include media-breakpoint-up($name) {
      @for $i from 0 through 12 {
        // Combination sizes
        .#{$name}\:mx-#{$i} {
          margin-left: #{$i}rem !important;
          margin-right: #{$i}rem !important;
        }
        .#{$name}\:my-#{$i} {
          margin-top: #{$i}rem !important;
          margin-bottom: #{$i}rem !important;
        }
        .#{$name}\:px-#{$i} {
          padding-left: #{$i}rem !important;
          padding-right: #{$i}rem !important;
        }
        .#{$name}\:py-#{$i} {
          padding-top: #{$i}rem !important;
          padding-bottom: #{$i}rem !important;
        }
        // Breakpoint sizes
        @each $short, $long in $box_model {
          .#{$name}\:#{$short}-#{$i} {
            @if ($i < 10) {
              #{$long}: #{$i}rem !important;
            } @else {
              #{$long}: #{$i * 1.5}rem !important;
            }
          }
        }
      }
    }
  }
}

@each $name, $breakpoint in $grid-breakpoints {
  // Don't generate XS, instead have no prefix eg .mb-2
  @if $name == 'xs' {
    /* Flex */
    .flex {
      display: flex;
    }

    .flex-col {
      flex-direction: column;
    }

    .flex-row {
      flex-direction: row;
    }

    .flex-wrap {
      flex-wrap: wrap;
    }

    .flex-1 {
      flex: 1;
    }

    .items-start {
      align-items: flex-start;
    }

    .items-center {
      align-items: center;
    }

    .items-end {
      align-items: flex-end;
    }

    .justify-start {
      justify-content: flex-start;
    }

    .justify-center {
      justify-content: center;
    }

    .justify-between {
      justify-content: space-between;
    }

    .justify-end {
      justify-content: flex-end;
    }

    .self-start {
      align-self: flex-start;
    }

    .self-end {
      align-self: flex-end;
    }

    .self-stretch {
      align-self: stretch;
    }
    /* Alignments */
    .alignleft {
      display: inline;
      margin-right: 1.5em;
    }

    .alignright {
      display: inline;
      margin-left: 1.5em;
    }

    .aligncenter {
      clear: both;
      @include center-block;
    }

    /* Position */
    .relative {
      position: relative;
    }
  } @else {
    @include media-breakpoint-up($name) {
      /* Flex */
      .#{$name}\:flex {
        display: flex;
      }

      .#{$name}\:flex-col {
        flex-direction: column;
      }

      .#{$name}\:flex-row {
        flex-direction: row;
      }

      .#{$name}\:flex-wrap {
        flex-wrap: wrap;
      }

      .#{$name}\:flex-1 {
        flex: 1;
      }

      .#{$name}\:items-center {
        align-items: center;
      }

      .#{$name}\:justify-start {
        justify-content: flex-start;
      }

      .#{$name}\:justify-center {
        justify-content: center;
      }

      .#{$name}\:justify-between {
        justify-content: space-between;
      }

      .#{$name}\:justify-end {
        justify-content: flex-end;
      }

      .#{$name}\:self-start {
        align-self: flex-start;
      }

      .#{$name}\:self-end {
        align-self: flex-end;
      }

      .#{$name}\:self-stretch {
        align-self: stretch;
      }
      /* Alignments */
      .#{$name}\:alignleft {
        display: inline;
        margin-right: 1.5em;
      }
      .#{$name}\:alignright {
        display: inline;
        margin-left: 1.5em;
      }

      .#{$name}\:aligncenter {
        clear: both;
        @include center-block;
      }
    }
  }
}

/* Start Basic Grid Utils */
.grid {
  display: grid;
}

*::-ms-backdrop,
:root .grid {
  display: flex;
}

[class*='grid-'] {
  grid-template-columns: 1fr;
}

@include media-breakpoint-up(sm) {
  .grid-sm-1 {
    grid-template-columns: 1fr;
  }
}

@include media-breakpoint-up(md) {
  [class*='grid-'] {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include media-breakpoint-up(lg) {
  @for $i from 1 through 6 {
    .grid-lg-#{$i} {
      @include grid-cols($i);
    }
  }
}
@include media-breakpoint-up(xl) {
  @for $i from 1 through 6 {
    .grid-xl-#{$i} {
      @include grid-cols($i);
    }
  }
}

// Default small-large screen gap
[class*='gap-'] {
  gap: 2rem;
}

// When using 2-col layout this will make sure images on the right will appear first on small screens
.xs\:swap-cols,
.swap-col_xs {
  @include media-breakpoint-down(md) {
    .bmcb-column:first-child {
      order: 2;
    }
    .bmcb-column:last-child {
      order: 1;
    }
  }
}

.image-bottom_xs {
  @include media-breakpoint-down(md) {
    .bmcb-column:first-child {
      order: 2;
    }
    .bmcb-column:last-child {
      order: 1;
    }
  }
}

// Gaps take affect above XL only
@include media-breakpoint-up(xl) {
  @for $i from 1 through 8 {
    .gap-#{$i} {
      gap: #{$i}rem;
    }
  }
}

/* End Basic Grid Utils */

/* Lists */
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Animations */
.hover-grow-sm:hover {
  transition: all 0.2s;
  transform: scale(1.02);
}
.hover-grow-md:hover {
  transition: all 0.2s;
  transform: scale(1.05);
}

/* Icons */
.has-icon {
  &::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.clear::before,
.clear::after,
.entry-content::before,
.entry-content::after,
.comment-content::before,
.comment-content::after,
.site-header::before,
.site-header::after,
.site-content::before,
.site-content::after,
.site-footer::before,
.site-footer::after {
  @include clearfix;
}

.clear::after,
.entry-content::after,
.comment-content::after,
.site-header::after,
.site-content::after,
.site-footer::after {
  @include clearfix-after;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

  &:focus {
    background-color: $color__background-screen;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: $color__text-screen;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */

    @include font-size(0.875);
  }
}

/* Do not show the outline on the skip link target. */
#content[tabindex='-1']:focus {
  outline: 0;
}

/* Sizings */
@include media-breakpoint-up(lg) {
  .lg\:mw-1\/2 {
    max-width: 50%;
  }
  .lg\:mw-2\/3 {
    max-width: 66.666666%;
  }
  .lg\:mw-80 {
    max-width: 80%;
  }
}

.h-full {
  height: 100%;
}

.vh-full {
  height: 100vh;
}

/* Text */
.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.intro-large p {
  @include font-size(25);
  @include media-breakpoint-up(lg) {
    @include font-size(32);
  }
}

@include media-breakpoint-up(lg) {
  .lg\:text-lg {
    @include font-size(40);
  }

  .lg\:text-xl {
    @include font-size(50);
  }

  .lg\:text-xxl {
    @include font-size(60);
  }
}

.justify-letters-even {
  display: flex;
  justify-content: space-between;
  span {
    display: block;
    width: fit-content;
  }
}

/* Shapes / Radius */
.pill {
  border-radius: 30px;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded {
  border-radius: $global_radius;
}

.rounded-full {
  border-radius: 50%;
}

#page .crossover-50 {
  @include media-breakpoint-up(lg) {
    padding: 0 10rem;
  }
  .crossover-el {
    @include media-breakpoint-up(lg) {
      margin-left: -25rem;
    }
  }
  img {
    display: flex;
  }
  .bmcb-column {
    margin-top: 0;
  }
}

/* INTERNET EXPLORER */

.ie-cover {
  font-family: 'object-fit: cover; object-position: top center;';
}

.ie-contain {
  font-family: 'object-fit: contain;';
}
