/*!
Theme Name: Handmade Web Starter
Theme URI: https://handmadewebdesign.com.au/
Author: Handmade Web & Design
Author URI: https://handmadewebdesign.com.au/
Description: Base theme for Handmade Web Projects using webpack & svelte
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Handmade Web
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Handmade Web Starter is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

ol {
	margin-left: 0 !important;
}
ol li:before {
	display: none !important;
}
.bmcb-blurb-module li:before, .bmcb-text-module li:before, .entry-content li:before {
	top: 10px !important;
	align-items: flex-start !important;
}

.jobadder_button:hover {
	color: white !important;
}