{#if !value.length }
  <h3 class="select-topics-header header-font xs:mb-0 xs:ml-4" on:click={toggleOptions}>Select Topics <i class="fa xs:pl-1 fa-{showOptions ? 'caret-down' : 'caret-right'} text-red" /></h3>
{/if}

{#if (options.length && showOptions) || value.length }
  <MultiSelect {showOptions} on:closeOptions={() => showOptions = false} style="pills" bind:value>
    {#each options as option}
      <option value="{ option.term_id }">{ option.name }</option>
    {/each}
    <div class="filter-buttons flex" slot="cta">
      <button on:click|preventDefault={filterSubmit} class="btn-nostyle text-black underline xs:mr-2">Apply Filters</button>
      {#if filterActive}
        <button on:click|preventDefault={clearFilter} class="btn-nostyle text-black underline">Clear Filters</button>
      {/if}
    </div>
  </MultiSelect>
{/if}

<script>
import { onMount } from 'svelte';
import { URL_add_parameter } from '../util/urlHelpers.js'
import MultiSelect from './multiSelect.svelte';

let url;
let params;
let filterActive = false
let value = [];
let dataAttr;
let options = [];
let showOptions = false;

$: output = value ? value.join() : value

const toggleOptions = () => {
  showOptions = !showOptions
}

const filterSubmit = () => {
  url.searchParams.set('categories', output);
  window.location.href = url.href;
}

const clearFilter = () => {
  url.searchParams.delete('categories');
  window.location.href = url.href
}

const getParams = () => {
  let categories = url.searchParams.get("categories")
  if (categories) {
    categories = categories.replace(/%2C/g,",").split(',')
    value = categories || []
    filterActive = true
  }
}

onMount(() => {
  const wrapper = document.querySelector('#cat-select')
  const dataAttr = wrapper.getAttribute('data-terms')
  
  dataAttr ? options = JSON.parse(dataAttr) : []
  
  url = new URL(window.location.href)
  params = new URLSearchParams(url.search.slice(1)) || null;
  getParams();
})
</script>

<style>
.select-topics-header {
  font-size: 2.6rem;
  font-family: "AvenirLTStdBlack", "Avenir Roman", sans-serif;
}

.filter-buttons {
  padding-top: 1rem;
  justify-content: center;
}
</style>
