{#if newsPosts.length}
<div class="grid grid-4-8 grid-sm-1 gap-6">
  <div>
  <h3 class="news-module-heading">News</h3>
    {#if activeIndex !== 'undefined'}
      <ul on:mouseenter={() => paused = true} on:mouseleave={() => paused = false} class="news-posts-list">
        {#each newsPosts as news, index (news.id)}
          <li in:fade="{{ duration: 1000 }}" class="news-post {activeIndex === index ? 'active' : ''}">
            <a on:click|preventDefault={goToIndex(index)} href="#" title={news.title.rendered}><h3 class="news-post__title mb-1">{ truncate(news.title.rendered, 40, '...') }</h3></a>
            <a class="news-post__link underline" href="{news.link}">Read More <i class="fa fa-arrow-right"></i></a>
          </li>
        {/each}
      </ul>
    {/if}
  </div>

  <div class="news-post__image-wrapper h-full relative">
    {#each newsPosts as news, index ('image' + news.id)}
      {#if activeIndex === index}
        <img in:fade="{{ duration: 400 }}" out:fly={{ y:-200, duration: 400 }} class="news-post__image" src={getImageURL(index)} alt="News Image" />
      {/if}
    {/each}
  </div>
</div>
 {/if}

<script>
import { onMount, onDestroy } from 'svelte'
import { fade, fly } from 'svelte/transition';
import { scrollto } from "svelte-scrollto"
import { truncate } from '../util/textHelpers'

let activeIndex = 0
let paused = false
let newsPosts = []
let time = 5000;
let activeInterval;

const getPosts = async () => {
  const $endpoint = `${wp_global_vars.apiBase}/posts?categories=3&per_page=3&_embed`
  let res = await fetch($endpoint);
  newsPosts = await res.json() 
}

const getImageURL = (index) => {
  return newsPosts[index]._embedded["wp:featuredmedia"]["0"].media_details.sizes["article-grid"].source_url
}

const goToIndex = (index) => {
  activeIndex = index
  time = 5000
}

const next = () => {
  let nextIndex = activeIndex + 1;
  if (!newsPosts[nextIndex]) {
    nextIndex = 0;
  }
  goToIndex(nextIndex);
}

const startInterval = () => {
  activeInterval = setInterval(() => {
    if (!paused) time -= time;
    if (time <= 0) next();
  }, time);
  // Clear the interval if the component
  // is destroyed to prevent memory leaks.
  onDestroy(() => clearInterval(activeInterval));
}

onMount(()=> {
  getPosts()
  startInterval()
})

</script>

<style>
.news-module-heading {
  font-size: 8rem;
  letter-spacing: 0.98px;
  color: #e41f1f;
  padding-bottom: 2.5rem;
}
.news-posts-list {
  margin: 0 -1.4rem;
  padding: 0;
}
.news-post {
  padding: 1.4rem;
  border-radius: 1rem;
  transition: all 0.4s;
}
.news-post + .news-post {
  margin-top: 2rem;
}
.news-post.active {
  background: rgba(117, 118, 122, 0.15);
}
.news-post__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3rem;
}

.news-post__image-wrapper {
  overflow: hidden;
  min-height: 400px;
}

.news-post__image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

</style>
