<div class="page-links-box">
  <h3>Page contents</h3>
  {#if nodes.length}
    <ul>
      {#each linkNodes as link}
        <li><a href="#{link.linkTarget}" use:scrollto={{ element: `#${link.linkTarget}`, offset: -250 }}>{ link.linkText }</a></li>
      {/each}
    </ul>
  {/if}
</div>

<script>
import { onMount } from 'svelte'
import { scrollto } from "svelte-scrollto"
import { truncateWords } from '../util/textHelpers'

let nodes = []
let linkNodes = []

const smoothScroll = () => {
  const root = document.querySelector('html')
  root.classList.add('smooth-scroll')
  setTimeout(() => {
    root.classList.remove('smooth-scroll')
  }, 1000)
}

onMount(()=> {
  let hasDataAttr = document.querySelectorAll('[data-internal_link_enabled="true"]')
  let validDefaultNodes = "#post-intro, h2, .entry-content h3"
  
  if (hasDataAttr.length) {
    // If it has the data attribute, it's buildy
    nodes = hasDataAttr;
  } else {
    // Otherwise we auto create page links based on the valideDefaultNodes above
    nodes = document.querySelectorAll(validDefaultNodes)
  }

  console.log(nodes)

  linkNodes = [].map.call(nodes, node => { 
    // By default get the text entered in buildy OR truncate the innertext   
    let linkText = node.getAttribute('data-internal_link_text') || truncateWords(node.innerText, 10),
        linkTarget = linkText.replace(/[^a-z0-9+]+/gi, '')

    // If it's for the intro paragraph, ajust text & target to suit
    if (node.getAttribute('id') === 'post-intro') {
      linkText = 'Introduction'
      linkTarget = 'postIntro'
    }

    // If it's not a buildy link, we need to add the ID attributes to the target
    // Buildy will do this for us in the blade files.
    if (!hasDataAttr.length) {
      node.setAttribute('id', linkTarget)
    }

    return {linkText, linkTarget}
  })  
})

</script>

<style>
.page-links-box {
  border: 3px solid #e41f1f;
  border-radius: 2rem;
  padding: 3rem;
}

.page-links-box h3 {
  font-family: 'AvenirLTStdBlack', sans-serif;
  color: #e41f1f;
}

.page-links-box ul {
  margin-bottom: 1rem;
}

.page-links-box ul li + li {
  display: block;
  margin-top: 2rem;
}

.page-links-box a {
  text-decoration: underline;
  font-weight: bold;
}

</style>
