{#if slides && slides.length}
  <div class="svelte-slider">
    <div 
    class="svelte-slider__slides" style={`height: ${height}px;`}
    >
      {#each slides as slide, index (`${slider}-${index}`)}
        {#if activeIndex === index}
          <div transition:fade="{{ duration: 1000 }}" class="svelte-slider__slide" style={`height: ${height}px;`}>
            <img 
            class="svelte-slider__image {!animationPaused && 'type--kenburns'}" 
            src="{slide.slide_image}" 
            alt="{slide.image_alt ? slide.imageAlt + ' ' + index : slide.slide_title}">
            {#if !animationPaused}
            <h2 in:fly={{ x: 200, delay: 500, duration: 1000 }} class="slide-title">{ slide.slide_title }</h2>
            {/if}
          </div>
        {/if}
      {/each}
    </div>

    <!-- <div class="svelte-slider__controls">
      <button
        class="svelte-slider__control"
        on:click="{prev}"
      >
        &laquo; prev
      </button>
      <button
        class="svelte-slider__control"
        on:click="{next}"
      >
        next &raquo;
      </button>
    </div> -->

  </div>
{/if}

<script>
import { onMount, onDestroy, tick } from 'svelte'
import { fade, fly } from 'svelte/transition';
import { isElementVisible } from '../util/nodeHelpers'
import {isAbove} from '../util/breakpoints'
import debounce from '../util/debounce'

export let type = "hero";
export let width = 1920;
export let height = 680;
export let interval = 2000;
export let slider;
export let slides;

// Swapping slides
export let slidePaused = false

// The css animation itself (e.g kenburns)
export let animationPaused = false

let activeInterval;
let time = interval

$: activeIndex = 0
$: aspectRatio = (height / width) * 100

const goToIndex = (index) => {
  activeIndex = index
  time = interval
}

const next = () => {
  let nextIndex = activeIndex + 1;
  // Go to the first image if the active
  // image ist the last one.
  if (!slides[nextIndex]) {
    return clearInterval(activeInterval)
    nextIndex = 0;
  }
  goToIndex(nextIndex);
}

const prev = () => {
  let nextIndex = activeIndex - 1;
  // Go to the last image if the active
  // image is the first one.
  if (!slides[nextIndex]) {
    nextIndex = slides.length - 1;
  }
  goToIndex(nextIndex);
}

const startInterval = () => {
  activeInterval = setInterval(() => {
    if (!slidePaused) time -= time;
    if (time <= 0) next();
  }, time);
  // Clear the interval if the component
  // is destroyed to prevent memory leaks.
  onDestroy(() => clearInterval(activeInterval));
}



const getSlides = async () => {
  const $endpoint = `${wp_global_vars.apiBase}/slider/${slider.replace(/\D/g, '')}?_embed`
  let res = await fetch($endpoint);
  slides = await res.json() 
  slides = slides.acf.slider
}

const sliderTypeHeight = () => {
    const header = document.getElementById('main-header');

  if (type === 'hero') {
    return (window.innerHeight - header.offsetHeight)
  }
}

onMount(() => {
  isAbove.lg.matches ? height = sliderTypeHeight() : height = 300

  let resizeEvent = new CustomEvent("sliderResized");

  window.addEventListener('resize', debounce(async () => {
    if (isAbove.lg.matches) {
      height = sliderTypeHeight()
      await tick()
      window.dispatchEvent(resizeEvent)
    } else {
      height = 300
      await tick()
      window.dispatchEvent(resizeEvent)
    }
  }, 200))

  // Check if the header animation is visible and animating
  const logoAnimation = document.body.classList.contains('logoAnimation')

  getSlides()

  if (wp_global_vars.postID === '5' && logoAnimation ) {
  const canvas = document.getElementById('canvas')

    slidePaused = true
    animationPaused = true

    canvas.addEventListener('logoAnimationEnd', () => {
      slidePaused = false
      animationPaused = false
      startInterval()
    }, { once: true })
  } else {
    startInterval()
  }
})

</script>

<style lang="scss">
.svelte-slider {
  width: 100%;
  &__slides {
    position: relative;
    overflow: hidden;
  }
  &__image {
    width: 100%;
    height: 100%;
    top:0;
    object-fit: cover;
    // Enable the effect only
    // on large screen devices.
    &.type--kenburns {
      //@media (min-width: 42em) {
        animation: kenburns 40s;
        animation-fill-mode: forwards;
      //}
    }
  }
  &__controls {
    display: flex;
    justify-content: space-between;
  }
  // 1. Reset native button styles.
  &__control {
    padding: 0; // 1
    border: none; // 1
    background-color: transparent; // 1
    font-size: 1.25em;
  }
  @keyframes kenburns {
    100% {
      transform: scale3d(1.3, 1.3, 1.3) translate3d(-10%, -5%, 0);
    }
  }
  .svelte-slider__slide {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide-title {
    display: flex;
    align-items: center;
    font-size: 8rem;
    @media all and (min-width: 981px) {
      font-size: 20rem;
    }
    top: 0;
    bottom: 0;
    margin: auto 0;
    color: white;
    position: absolute;
  }
  .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
}
</style>
