.btn,
.wp-block-button__link,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: inline-block;
  @extend .pill;
  cursor: pointer;
  font-weight: bold;
  background: $color__background-button;
  border: 1px solid;
  border-color: $color__border-button;
  color: white;
  line-height: 1 !important;
  padding: 2rem 4rem;
  font-size: 1.8rem;
  &:hover {
    border-color: $color__border-button-hover;
  }
  &:not(.has-icon-after)::after {
    display: none;
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
  }
}

.btn > a {
  color: inherit;
  background: inherit;
}

.btn.btn-unstyled {
	padding: 0;
  padding-bottom: 0.4rem;
  border: 0;
  background: none;
  border-radius: 0;
  border-bottom: 1px solid;
}

.btn.is-outlined {
  border-width: 2px;
  border-style: solid;
  &:not(:hover) {
    background: transparent !important;
  }
  &:hover {
    color: white !important;
  }
}

.btn.is-large {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg);
}

.btn.is-small {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm);
}

.btn.is-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn.is-block {
    margin-top: 2rem;
  }
}

.btn-nostyle {
  background: none;
  border: 0;
  padding: 0;
  &:hover {
    padding: 0;
  }
}


/* Ajax One */
.btn__loader {
	position: relative;
	display: inline-flex;
  padding-top: 3rem;
  border-bottom: 1px solid $color__theme-red;
  &::after {
	//   position: absolute;
	  content: '';
	  width: 0;
	  height: 0;
	  display: inline-block;
	  opacity: 0;
	  transition: all 0.5s;
	}
	&.is-loading::after {
		background-image: url(http://arriba.local/wp-content/uploads/2020/03/spinner.svg);
		background-size: contain;
		width: 3rem;
		height: 3rem;
		opacity: 1;
		margin: 0 0 0 1rem;
	}
}
