html {
  box-sizing: border-box;
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    background-color: #2b2a2a;
}

*,
*::before,
*::after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin: 2rem 0;
  @include media-breakpoint-up(lg) {
    margin: 6rem 0;
  }
}

@import 'lists';

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

figure {
  margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

blockquote {
  font-style: italic;
}

@import 'tables';
@import 'buttons';
@import 'icons';
