ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 0 4rem;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

// Custom LI Styles
.bmcb-text-module li,
.bmcb-blurb-module li,
.entry-content li {
  padding-left: 2rem;
  position: relative;
  margin: 1rem 0;
  &::before {
    content: '\e901';
    font-family: 'icomoon';
    position: absolute;
    @include font-size(10);
    display: flex;
    left: 0;
    top: 0.6rem;
    color: $color__theme-red;
    @include media-breakpoint-up(lg) {
      height: 100%;
      top: 0;
      align-items: center;
    }
  }
}

.check-list {
  padding: 0 0 4rem;
  margin: 0;
  list-style: none;
  color: $color__theme-red;
  li {
    border-top: 1px solid $color__theme-red;
    border-left: 0;
    border-right: 0;
    margin: 0;
    padding: 1rem 0 1rem 4.4rem;
    &:last-child {
      border-bottom: 1px solid $color__theme-red;
    }
    &::before {
      content: '';
      left: 0;
      width: 30px;
      height: 30px;
      display: block;
      background-image: url(/wp-content/uploads/2020/03/Tick-Point-Red.svg);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
