$colors: (
  'red': #e41f1f,
  'pink': #ef4d73,
  'orange': #ed6e1d,
  'blue': #00828f,
  'lightgray': #f1f1f1,
  'darkgray': #464646,
  'gray': #75767a,
  'white': #fff,
  'black': #000000
);

$color__theme-red: colorSet('red');
$color__theme-pink: colorSet('pink');
$color__theme-orange: colorSet('orange');
$color__theme-blue: colorSet('blue');
$color__theme-gray: colorSet('gray');
$color__theme-darkgray: colorSet('darkgray');
$color__theme-lightgray: colorSet('lightgray');

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #afb0b5;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__theme-red;
$color__link-visited: inherit;
$color__link-hover: midnightblue;
$color__text-main: #000;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
