$containerWidth: 1400;
$sectionPadding: 8rem;

$size__site-main: 100%;
$size__site-sidebar: 25%;
$box_model: (
  'p': 'padding',
  'pt': 'padding-top',
  'pr': 'padding-right',
  'pb': 'padding-bottom',
  'pl': 'padding-left',
  'm': 'margin',
  'mt': 'margin-top',
  'mr': 'margin-right',
  'mb': 'margin-bottom',
  'ml': 'margin-left'
) !default;

$grid-breakpoints: (
  xs: 0px,
  sm: 481px,
  md: 769px,
  lg: 981px,
  xl: #{$containerWidth}px
) !default;
