@function colorSet($colorName) {
   	@return map-get($colors, $colorName);
}

@function px-to-rem($size) {
	@return ($size / 10) * 1rem;	
}

@function px-to-percent($target, $parent: 16) {
	@return percentage($target / $parent);
  }
