input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
  border: 0;
  font-size: $btn-font-size-sm;
  color: $color__text-input;
  padding: 1rem 2rem;

  &:focus {
    color: $color__text-input-focus;
  }
  &.is-large {
    @include font-size(20);
    min-width: 350px;
    font-family: $font__main;
    padding: 1.4rem 4rem 1.4rem 2rem;
  }
}

.gform_wrapper .top_label .gfield_label,
.gform_wrapper ul.gfield_radio li label,
ul.gfield_checkbox li label {
  color: $color__text-main;
}

.ginput_container
  input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']).large {
  @include font-size(20);
  font-family: $font__main;
  padding: 1.4rem 2rem;
  border: solid 1px #75767a;
  min-height: unset;
  line-height: 1.5;
}

select {
  border: 1px solid $color__border-input;
}

textarea {
  width: 100%;
}

label.has-icon {
  position: relative;

  & i {
    position: absolute;
    width: 40px;
    height: 40px;
    @include font-size(20);
    background: #e41f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 1rem;
    border-radius: 50%;
    cursor: pointer;
  }
}
