@import 'fields';

.search-form {
  position: relative;
  width: 100%;
  max-width: 300px;
  .search-field {
    width: 100%;
  }
  .search-submit {
    border: 0;
    background: none;
    color: #e41f1f;
    padding: 0;
    position: absolute;
    right: 1.4rem;
    top: 0;
    bottom: 0;
  }
}

#page .gform_wrapper {
  margin-top: 0;
}

#page .gform_wrapper .ginput_container,
#page .gform_wrapper ul li.gfield {
  margin-top: 0.2rem;
}

#page .gfield_label {
  @include font-size(16);
  font-weight: 300;
  color: $color__theme-red;
  transition: all 0.3s;
  transform: translate(10px, 60px);
  span {
    color: $color__theme-red;
  }
}

.gform_wrapper textarea.large,
.ginput_container
  input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']).large {
  border: 2px solid $color__theme-red;
}

.gform_footer {
  display: flex;
  justify-content: center;
}

.button.gform_button {
  @include font-size(18);
  padding: 2rem 6rem 1.5rem;
  background: none;
  border: 2px solid $color__theme-red;
  color: black;
  margin: 0 auto;
  display: inline-block;
}

@include media-breakpoint-up(sm) {
  #page .gform_wrapper textarea.large {
    height: 60px;
  }
}

#page .gform_wrapper .form-choice-inline {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -2rem;
    li {
      display: flex;
      margin: 1rem 0;
      align-items: center;
      justify-content: center;
      flex-basis: 100%;
      padding: 0 2rem !important;
      @include media-breakpoint-up(lg) {
        flex-basis: 50%;
      }
      margin-bottom: 0;
      input {
        opacity: 0;
        position: absolute;
        + label::after {
          content: none;
        }
        &:checked + label::after {
          content: '';
        }
      }
      label {
        width: 100%;
        line-height: 1.2;
        max-width: none;
        display: flex;
        position: relative;

        @include media-breakpoint-up(lg) {
          align-items: center;
        }

        &::before,
        &::after {
          flex-shrink: 0;
        }
        &::before {
          content: '';
          margin-right: 2rem;
          margin-top: 2px;
          @include media-breakpoint-up(lg) {
            margin-top: 0;
          }

          height: 20px;
          width: 20px;

          border: 2px solid $color__theme-red;
        }
        &::after {
          display: inline-block;
          height: 6px;
          width: 9px;
          border-left: 2px solid;
          border-bottom: 2px solid;
          position: absolute;
          left: 6px;
          top: 7px;
          transform: rotate(-45deg);

          @include media-breakpoint-up(lg) {
            top: 0;
            bottom: 0;
            margin: auto 0;
          }
        }
      }
    }
  }
}

*::-ms-backdrop,
:root #page .gform_wrapper .form-choice-inline ul {
  margin: 0;
} /* IE11 */
*::-ms-backdrop,
:root #page .gform_wrapper .form-choice-inline li {
  padding: 0 !important;
} /* IE11 */
