<template>
  <div v-if="morePosts" class="post-grid__loadmore-wrapper">
    <a
      @click.prevent="fetchMore"
      href="#"
      class="post-grid__loadmore btn__loader"
      :class="[loading ? 'is-loading' : '']"
    >
      Load more
    </a>
  </div>
</template>

<script>
// To use this load more component, you need to pass in all the required props listed below
// With your custom query you need to pass it in like this json_encode($query->query_vars)
// This will allow the endpoint to load in the correct items (custom post type, products, etc)
import {
  enableFadeIn,
  enableStaggerIn
} from '../../animations/globalAnimations';

export default {
  data: function() {
    return {
      morePosts: true,
      loading: false,
      payload: {
        query: this.query_vars,
        current_page: this.current_page,
        template_part: this.template_part
      }
    };
  },
  props: {
    query_vars: {
      type: Object,
      required: true
    },
    current_page: {
      type: Number,
      required: true
    },
    total_pages: {
      type: Number,
      required: true
    },
    perpage: {
      type: Number
    },
    container: {
      type: String,
      required: true
    },
    template_part: {
      type: String,
      default: 'post-grid'
    }
  },
  methods: {
    fetchMore() {
      console.log(this.payload.current_page);
      console.log(this.total_pages);
      this.loading = true;
      if (this.payload.current_page < this.total_pages) {
        fetch(`${wp_global_vars.apiBase}/hmw_ajax_load_more`, {
          method: 'post',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(this.payload)
        })
          .then(res => res.text())
          .then(data => {
            this.payload.current_page++;

            // Render the posts to the dom container
            if (data) {
              document.querySelector(this.container).innerHTML += data;
            }

            // Re-trigger fades
            enableFadeIn();

            if (this.payload.current_page >= this.total_pages) {
              this.morePosts = false;
            } else {
              this.loading = false;
            }
          })
          .catch(err => {
            this.loading = false;
            console.log(err);
          });
      }
    }
  },
  mounted() {
    // Disable button immediately if there are no more posts to load
    if (this.payload.current_page >= this.total_pages) {
      this.morePosts = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.post-grid__loadmore-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
