html {
  font-size: 62.5%;
  @media all and (min-width: 2000px) {
    font-size: 80%;
    // font-size: 0.6vw;
  }
}

body {
  @include font-size(20);
  @include media-breakpoint-up(lg) {
    @include font-size(22);
  }
}

// p,
// ul,
// strong,
// em,
// div {
//   @include font-size(22);
// }

p {
  margin: 0;
  margin-bottom: 1.5rem;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: $color__background-pre;
  font-family: $font__pre;
  line-height: $font__line-height-pre;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;

  @include font-size(0.9375);
}

code,
kbd,
tt,
var {
  font-family: $font__code;

  @include font-size(0.9375);
}

abbr,
acronym {
  border-bottom: 1px dotted $color__border-abbr;
  cursor: help;
}

mark,
ins {
  background: $color__background-ins;
  text-decoration: none;
}

big {
  font-size: 125%;
}

p .ql-size-large,
.font-large {
  @include font-size(30);
  line-height: 3.9rem;
  padding-bottom: 2rem;
  display: block;
}

p .ql-size-small,
.font-small {
  @include font-size(16);
  line-height: 2.2rem;
}

// Light Option
.light p {
  color: white;
}
