h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color__theme-red;
  font-family: $font__heading;
  font-weight: normal;
  clear: both;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 2.8rem;
}

.header-callout-text {
  h1 {
    @include font-size(90);
    line-height: 1.1;
    color: $color__theme-red;
  }
}

h1 {
  @include font-size(60);
  line-height: 1;
  letter-spacing: 0.18px;
}

h2 {
  @include font-size(35);
  line-height: 1;
  margin-bottom: 1.8rem;
  @include media-breakpoint-up(lg) {
    @include font-size(40);
    line-height: 1.1;
  }
}

// .entry-content h2,
//   .entry-content h3 {
//     @include font-size(40);
//     color: $color__theme-red;
//     margin-top: 4rem;
//   }

h3 {
  font-family: $font__main;
  margin-bottom: 1.8rem;
  @include font-size(30);
  @include media-breakpoint-up(lg) {
    @include font-size(32);
    line-height: normal;
  }
}

h4 {
  @include font-size(26);
  line-height: 3.2rem;
  margin-bottom: 1.8rem;
}

.header-font h3,
.header-font h4,
.header-font h5 {
  font-family: $font__heading;
}

h1 span,
h2 span,
h3 span,
h4 span {
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

// Light Option
h1.light,
h2.light,
h3.light,
h4.light,
h5.light {
  color: white;
}

.fw-section-header {
  display: flex;
  align-items: center;
  @include media-breakpoint-up(xl) {
    h2 {
      @include font-size(80);
    }
    &::after {
      content: '';
      display: block;
      flex-grow: 1;
      height: 5px;
      background: white;
      margin-left: 2rem;
      margin-top: 1.2rem;
    }
  }
}
