@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon.eot?h12l02');
  src: url('../../fonts/icomoon.eot?h12l02#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?h12l02') format('truetype'),
    url('../../fonts/icomoon.woff?h12l02') format('woff'),
    url('../../fonts/icomoon.svg?h12l02#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
}

.icon-arrow-right:before {
  content: '\e900';
}
.icon-circle:before {
  content: '\e901';
}
