a {
  transition: $global_transition;
  color: $color__link;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: darken($color__link, 10%);
  }

//   &:visited {
//     color: inherit;
//   }

  // &:focus {
  // 	outline: thin dotted;
  // }

  &:hover,
  &:active {
    outline: 0;
  }
}
