body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	line-height: $font__line-height-body;
	@include font-size(1);
}

// @import "fontawesome";
@import "icomoon";
@import "headings";
@import "copy";
@import "links";
