.blackout {
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 700;
}

.hide-header .mobileToggle,
.hide-header #main-header {
  transform: translateY(-120px) !important;
}
.show-header .mobileToggle,
.show-header #main-header {
  transform: translateY(0) !important;
}

// Hide everything initially that needs to appear with animations
body.animating [data-fade],
body.animating [data-staggerin] > *,
body.logoAnimation .mobileToggle {
  opacity: 0;
}

body.logoAnimation #main-header {
  transform: translateY(-120px);
  padding: 0;
}

/* Header Logo Animation Stuff */
.admin-bar #main-header.sticky {
  top: 32px;
}

@include media-breakpoint-up(lg) {
  #main-header.sticky
    #top-menu-nav
    #main-menu
    > li.menu-item-has-children
    > a:first-child {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

// If JS is disabled don't show this at all
#logo-animation-container {
  display: none;
}

.logoAnimation #logo-animation-container {
  position: fixed;
  display: block;
  top: 0;
  height: 0vh;
  width: 100%;
  z-index: 100;
  background: $color__theme-red;
}

.logoAnimation #animation_container {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  width: auto !important;
  height: auto !important;
}
.logoAnimation #canvas {
  width: 100vw !important;
  height: auto !important;
  @include media-breakpoint-up(md) {
    width: 790px !important;
    height: 450px !important;
  }
  display: block;
  position: absolute;
  bottom: 0;
}

/* CSS Only animations */
[data-fade='opacity'] {
  opacity: 0;
  transition: opacity 0.6s;
}
.css-fadein {
  opacity: 1;
}

/* Vue Transitions */
.fade-enter-active,
.fade-leave-active {
  position: absolute;
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(100px);
  opacity: 0;
}

#page .homepage-parallax__section {
  .bmcb-row:last-child .bmcb-column {
    margin: 0;
  }
  img {
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
  @include media-breakpoint-down(sm) {
    .container {
      max-width: none;
      padding: 0;
    }
    .row {
      margin: 0;
    }
    [class*='col-'] {
      padding: 0;
    }
    .homepage-grid__intro {
      padding: 0 2rem;
    }
  }
}

#page .homepage-grid__intro {
  @include media-breakpoint-up(lg) {
    max-width: 90%;
    margin-left: auto;
  }
}
#page .homepage-parallax__image-large,
#page .homepage-parallax__image-small {
  display: flex;
  width: 100%;
  img {
    width: 100%;
    // max-width: 40rem;
    margin: 0 auto;
  }
}
#page .homepage-parallax__image-large {
  img {
    width: 100%;
    // max-width: 90rem;
    margin-left: auto;
  }
}

#page .homepage-parallax__text-box {
  padding: 4rem 2rem;
}

@include media-breakpoint-up(lg) {
  #page .homepage-parallax__text-box {
    padding: 2rem;
    margin-left: -8rem;
    margin-top: 7rem;
  }

  #page .homepage-parallax__image-small {
    margin: -7rem auto 0;
    max-width: 40rem;
  }
}

[data-rellax-speed='1'] {
  position: relative;
  top: 100px;
}
