.site-footer {
  background: $color__theme-lightgray;
  .menu {
    column-count: 2;
    max-width: 46rem;
    li {
      line-height: 2;
    }
    a {
      color: white;
      border-bottom: 1px solid;
    }
  }
  .container {
    padding: 3rem 0;
  }
  .company-logos {
    display: flex;
    margin: 0 -1rem;
    .company-logo {
      padding: 0 1rem;
      img {
        max-width: 100px;
        width: 100%;
      }
      flex-basis: auto;
      &:nth-child(2) img {
        max-width: 136px;
      }
      + .company-logo {
        @include media-breakpoint-up(md) {
          margin-left: 3rem;
        }
      }
    }
  }
  .company-phone {
    color: white;
  }
}

.copyright p {
  @include font-size(12);
  @include media-breakpoint-up(md) {
    @include font-size(16);
  }
}

.footer-top .newsletter-subscribe-form__simple_wrapper {
  width: 80%;
  margin-bottom: 2rem !important;
  @include media-breakpoint-up(lg) {
    max-width: 400px;
    margin-bottom: 0 !important;
  }
}

.footer-top {
  background: $color__theme-red;
  color: white;
  .container {
    flex-wrap: wrap;
    justify-content: center;
    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  h4 {
    @include font-size(34);
  }
  .footer-email-sub {
    width: 100%;
    max-width: 400px;
    margin: 0 2rem;
  }
  .footer-newsletter-description {
    @include font-size(22);
    line-height: 2.9rem;
    @include media-breakpoint-up(lg) {
      max-width: 200px;
    }
  }
}

.footer-middle {
  .container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .footer-menu {
    column-count: 2;
    gap: 6rem;
    list-style: none;
    padding: 2rem 0 3rem;
    margin: 0;
  }
}

.footer-bottom {
  .copyright-text {
    display: block;
    padding-right: 10rem;
    @include font-size(13);
    color: #75767a;
  }
}

.footer-menu-bottom {
  @include font-size(16);
  display: flex;
  > li + li {
    padding-left: 5rem;
  }
}
