.page-header__hero--careers {
  height: auto;
  padding: 6rem 0;
}

.job-single__location {
  color: $color__theme-gray;
  padding-bottom: 2rem;
  display: block;
}

.job-single__role {
  color: $color__text-main;
}

.job-single__page-title {
  @include media-breakpoint-up(lg) {
    @include font-size(80);
    line-height: 1.2;
  }
}
