#main-header.sticky + #et-main-area {
  padding-top: 10rem;
}

#main-header {
  height: 120px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 500;
  box-shadow: none;
  transition: all 0.5s;
  background: $color__theme-red;
  color: white;
  @include media-breakpoint-up(lg) {
    padding: 20px 0;
  }
  .header-container {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .et_menu_container {
    @extend .flex;
    @extend .items-center;
  }
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  #logo {
    max-width: 160px;
    max-height: 70.45px;
    @include media-breakpoint-up(md) {
      max-width: 170px;
      //   flex-grow: 1;
    }
  }
}
