body:not(.logoAnimation) #page {
  padding-top: 120px;
}

/* Add large top spacing between multiple modules that start with headings */
body:not(.home) {
  .bmcb-module + .bmcb-module:not(.heading-space-0) h2:first-child {
    margin-top: 4rem;
  }
}

/* Reduce space for the headings if there is a hr module preceeding them */
body:not(.home) {
  .bmcb-hr-module
    + .bmcb-row
    .bmcb-module:not(.heading-space-0)
    h2:first-child {
    margin-top: 1rem;
  }
}

// .page-header {
//   min-height: 300px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   @include media-breakpoint-up(lg) {
//     min-height: 450px;
//   }
// }

// .page-header__title {
//   color: white;
//   @include font-size(120);
//   flex-grow: 1;
//   padding-bottom: 2rem;
// }

// .page-header__sub-title {
//   color: white;
//   font-family: $font__main;
//   @include font-size(90);
// }

// A near-full height page-header
.page-header__hero {
  display: flex;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-up(lg) {
    height: 50vh;
  }
  .bmcb-heading__title {
    @include font-size(40);
    line-height: 1.1;
    @include media-breakpoint-up(sm) {
      @include font-size(45);
    }
    @include media-breakpoint-up(lg) {
      @include font-size(70);
    }
    @include media-breakpoint-up(xl) {
      //   max-width: 70rem;
      @include font-size(90);
    }
    // @include media-breakpoint-up(xl) {
    //   max-width: 50%;
    // }
  }
  .bmcb-row .bmcb-column:not(:first-child) {
    margin-top: 2rem;
    @include media-breakpoint-between(sm, md) {
      margin-top: 0;
    }
    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }
  img {
    max-height: 70vh;
  }
  &--has-shadow::before {
    background: rgba(0, 0, 0, 0.4);
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.page-header__hero--small {
  height: auto;
  padding: 3rem 0;
  @include media-breakpoint-up(lg) {
    padding: 6rem 0;
  }
  //   .bmcb-heading__title {
  //     @include media-breakpoint-up(xl) {
  //       max-width: 58rem;
  //     }
  //   }
}

// .page-header__hero .grid-6-6 {
//   .bmcb-heading__title {
//     @include media-breakpoint-up(xl) {
//       max-width: 70rem;
//     }
//   }
// }

.content-wrap {
  position: relative;
}

@include media-breakpoint-up(lg) {
  .pinned-content {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

/* Full width sections with images taking up 50% and full-height */
.bmcb-section.container-fluid.fh-image-right {
  height: 100%;
  padding: 0;
  align-items: center;
  @include media-breakpoint-down(sm) {
    .container {
      margin: 0;
      max-width: none;
      padding: 0;
    }
    .bmcb-row .bmcb-column:first-child {
      padding: 4rem 2rem;
    }
  }
  .bmcb-row {
    padding: 0;
    margin: 0;
    @include media-breakpoint-up(lg) {
    }
    .bmcb-column:last-child img {
      display: flex;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      width: 100%;
      height: 100%;
    }
  }
  .bmcb-column {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: none;
  }
}

// News module section
.news-module-section {
  @include media-breakpoint-down(md) {
    max-width: none;
    padding: 0;
    padding-top: 2rem;
    .row {
      margin: 0;
    }
    [class*='col-'] {
      padding: 0;
    }
  }
  min-height: 708px;
}

.news-module-heading {
  @include media-breakpoint-down(md) {
    padding: 0 2rem;
  }
}

/* Search Result */
.search-result-image-wrapper {
  flex-shrink: 0;
}
.search-result-image {
  width: 30rem;
  margin-right: 3rem;
}
