/* Add large top spacing between multiple modules that start with headings */
body:not(.home) {
  .entry-content h2,
  .entry-content h3 {
    margin-top: 4rem;
  }
}

.post-categories__list {
  margin: 5rem 0 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.post-categories__list-item ~ .post-categories__list-item {
  margin-left: 2rem;
}

.post-categories__link {
  padding: 0.6rem 2rem;
  border: 2px solid black;
  border-radius: 30px;
}

.post-meta {
  padding-bottom: 2rem;
}

.post-meta__category {
  color: $color__theme-gray;
}

// H3's are a separator between paragraphs unless they specifically have padding/margin set
.single p + h3:not([class*='p-']):not([class*='m-']) {
  color: $color__theme-red;
  margin: 6rem 0 2rem;
}

.content-wrap h1 {
  @include font-size(40);
  line-height: 1.2;

  @include media-breakpoint-up(lg) {
    @include font-size(60);
  }
}
