.sticky #top-header {
	display: none;
}

#top-header {
	background-color: #dcdcdc;
	display: none;
	justify-content: space;
	@include media-breakpoint-up(lg) {
		display: flex;
		align-items: center;
	}
	.container {
		padding: 0;
		display: flex;
		align-items: center;;
	}
}

.company-phone {
	&::before {
		padding-right: 1rem;
	}
}
