// A grid with a gravity form baked in
.feature-grid {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr;
	grid-template-areas: 
	"feature"
	"latest"
	"article";
	@include media-breakpoint-up(md) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-template-areas: 
		"feature feature"
		"latest latest"
		"article article";
	}
	@include media-breakpoint-up(lg) {
		grid-template-columns: minmax(0, 445px) minmax(0, 1fr);
		grid-template-areas: 
		"feature feature"
		"latest article"
		"latest article";
	}
	@include media-breakpoint-up(xl) {
		grid-template-rows: auto;
		grid-template-columns: minmax(0, 445px) repeat(2, minmax(0, 1fr));
		grid-template-areas: 
		"latest feature feature"
		"latest article article";
	}
	gap: 3rem;
}

.feature-grid__article,
.feature-grid__latest {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
}

.feature-grid__title {
	a {
		font-family: $font__main;
	}
	@include media-breakpoint-up(md) {
		max-width: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: block;
	}
}

.feature-grid__latest {
	grid-area: latest;
}

.feature-grid__feature {
	grid-area: feature;
}
