// This is the grid from [list-posts] shortcode

.article-grid__article {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-grid__date {
  @include font-size(15);
}

.article-grid__title {
  flex-grow: 1;
  color: $color__text-main;
  @include font-size(26);
  line-height: 1.2;
  margin-bottom: 1rem;
  a {
    font-family: $font__heading;
    color: inherit;
  }
  @include media-breakpoint-up(lg) {
    max-width: 80%;
  }
}

.article-grid__term {
  @include font-size(16);
  padding: 1.5rem 0 0.5rem;
  display: block;
  color: #9a9a9a;
}

.article-grid__icon-link {
  @include font-size(18);
  display: inline-flex;
  color: $color__theme-red;
  align-items: center;
  border-bottom: 1px solid;
  i {
    color: $color__theme-red;
    margin-left: 1rem;
    padding: 0;
    line-height: 1;
    display: flex;
    @include font-size(16);
  }
}

.article-grid__image-wrapper {
  display: block;
  flex-shrink: 0;
  flex-grow: 1;
  margin-bottom: 2rem;
  width: 100%;
  img {
    font-family: 'object-fit: cover;';
    display: flex;
    width: 100%;
    height: 40rem;
    object-fit: cover;
  }
}

*::-ms-backdrop,
:root .article-grid {
  margin: 0 -2rem;
}

*::-ms-backdrop,
:root .article-grid .bmcb-column {
  padding: 0 2rem;
}

*::-ms-backdrop,
:root .article-grid__article {
  overflow: hidden;
  margin-bottom: 6rem;
}
