.awards-list {
  li,
  span {
    border-bottom: 1px solid black;
    padding: 1rem 0;
    display: block;
  }
}

.awards-list__year {
  @include font-size(18);
  color: $color__theme-red;
}

.awards-list__award li {
  @include font-size(22);
}
