/* Override Default Blurb Style */
.business-blurb {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .bmcb-blurb__image {
    margin-bottom: 3rem;
    border: 10px solid white;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
  .bmcb-blurb__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .bmcb-blurb__description {
    flex-grow: 1;
    font-size: 2rem;
    max-width: 100%;
  }

  .btn {
    font-size: 2rem;
    display: flex;
    align-items: center;
    &::after {
      padding-left: 1rem;
      content: '\e900';
      display: inline-block;
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

// IE11 FIX
*::-ms-backdrop,
:root .business-blurb .bmcb-blurb__image {
  max-height: 500px;
  max-height: 25vw;
}

.blurb-icon__left {
  display: flex;
  align-items: flex-start;
  &::before {
    margin-right: 2rem;
    @include font-size(40);
  }
  .bmcb-blurb__title {
    margin-bottom: 0.5rem;
  }
  .bmcb-blurb__description p {
    @include font-size(18);
    line-height: 2.2rem;
    letter-spacing: 0.06px;
  }
}

.person-blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .bmcb-blurb__image {
    display: flex;
    max-height: 57rem;
    // border-radius: 2rem 2rem 0 0;
    margin-bottom: 0;
    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
  .bmcb-blurb__title {
    @include font-size(22);
    line-height: 1;
    font-family: $font__heading;
    color: $color__theme-red;
    margin-bottom: 1rem;
  }
  .bmcb-blurb__content {
    padding: 1rem 0 2rem;
    border-radius: 0 0 2rem 2rem;
    p {
      @include font-size(15);
    }
    // color: white;
    p:first-of-type {
      line-height: 1;
    }
  }
}

*::-ms-backdrop,
:root #page .person-grid {
  margin: 0 -1rem;
} /* IE11 */

*::-ms-backdrop,
:root #page .person-blurb {
  flex-basis: 33.333333%;
  max-width: 33.333333%;
  padding: 0 1rem;
} /* IE11 */

*::-ms-backdrop,
:root #page .person-blurb img {
  max-height: 280px;
  max-height: 28vw;
} /* IE11 */

.values-blurb {
  padding: 1rem;
  flex-grow: 1;
  margin-bottom: 0rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  .bmcb-blurb__image-wrapper,
  .bmcb-blurb__content {
    background: white;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .bmcb-blurb__content {
    border-radius: 0 0 30% 0;
    flex-grow: 1;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .bmcb-blurb__title {
    font-family: $font__heading;
    color: $color__theme-red;
  }
}

*::-ms-backdrop,
:root #page .value-blurbs {
  margin: 0 -1rem;
  flex-wrap: wrap;
} /* IE11 */

*::-ms-backdrop,
:root #page .values-blurb {
  flex-basis: 33.333333%;
  max-width: 33.333333%;
  margin-bottom: 2rem;
} /* IE11 */

.blurb__large-contained {
  .bmcb-blurb__title {
    @include media-breakpoint-up(xl) {
      @include font-size(55);
    }
  }
  .bmcb-blurb__description p {
    @include media-breakpoint-up(xl) {
      max-width: 70%;
      @include font-size(32);
    }
  }
}

.career-blurb {
  .bmcb-blurb__title {
    @include font-size(28);
    font-weight: bold;
    font-family: $font__heading;
    color: $color__theme-red;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $color__theme-red;
  }
  .btn {
    background: none;
    color: $color__theme-red;
    padding: 0 0 0 2rem;

    border: none;
    position: relative;

    &::before {
      content: '\25CF';
      position: absolute;
      left: 0;
      line-height: 0.5;
    }
  }
}

.career-blurb img,
.vision-blurbs img {
  width: 100%;
  max-width: 200px;
  padding-bottom: 1.5rem;
}
