.shoutout-card {
  padding: 3rem;
  text-align: center;
  line-height: 1.3;
  @include font-size(25);
  @include media-breakpoint-up(xl) {
    @include font-size(35);
  }
  &--large {
    @include font-size(35);
    @include media-breakpoint-up(xl) {
      @include font-size(55);
      padding: 6rem;
    }
  }
  p {
    margin: 0;
  }
}
