.job-list__job {
  + .job-list__job {
    padding-top: 4rem;
    margin-top: 4rem;
    border-top: 2px solid $color__theme-red;
  }
}

.job-list__role {
  font-weight: bold;
  margin-bottom: 0;
  @include font-size(35);
}

.job-list__location {
  display: block;
  margin-bottom: 3rem;
  @include font-size(30);
}

.job-list__content {
  padding-bottom: 4rem;
}
