.person__position {
  color: $color__theme-gray;
  @include font-size(18);
}

.person-blurb img {
  object-fit: cover;
  object-position: center;
  font-family: 'object-fit: cover; object-position: center';
}
