// Root level
#main-menu,
#top-menu {
  margin: 0;
  list-style: none;
  padding: 0;
  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
  }
  & > li {
    position: relative;
    > a {
      padding: 1rem 2rem;
    }
  }
}

#secondary-menu {
  margin: 0 auto;
}

#top-menu > li a {
  font-family: $font__main;
  @include font-size(16);
  padding: 2.1rem 2rem;
  display: block;
}

body .sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 300px;
  &.is-visible {
    display: block;
  }
  > li {
    padding-left: 2.3rem;
    white-space: nowrap;
    a {
      font-weight: normal;
      font-family: $font__main;
    }
    &.menu-item-has-children > a:first-child {
      font-family: $font__heading;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 0;
    }
  }
}

// All list items with children
.menu-item-has-children {
  position: relative;
}

body .sub-menu li a:hover {
  background: lighten($color__theme-lightgray, 5%);
}

body:not(.has-mobile-menu) li.menu-item-has-children:hover > .sub-menu {
  display: block;
}

/*********
****************************** 
MAIN MENU ONLY Over-rides 
******************************
**********/
#main-nav {
  padding: 0 !important;
  @extend .flex;
  @extend .items-center;
  @extend .flex-1;
  @extend .justify-center;
}

// All levels of main-menu
#main-menu li a {
  @include font-size(20);
  color: white;
  display: block;
  padding: 0.5rem 2rem;
}

#main-menu > li > a {
  font-family: $font__heading;
  // Direct a children
}

#main-menu > li.menu-item-has-children > a:first-child {
  padding-right: 1rem;
  font-weight: bold;
  @include media-breakpoint-up(lg) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
//   &::after {
//     position: unset;
//     padding-left: 0.6rem;
//     top: 0;
//     right: 0;
//     font-family: FontAwesome;
//     @include font-size(16);
//     font-weight: 800;
//     color: $color__theme-red;
//     content: '\f0d7';
//   }
}

#main-menu > li.menu-item-has-children.is-open > a:first-child::after {
  content: '\f0da';
}

// This is the root-level list item with children
body:not(.has-mobile-menu) #main-menu > .menu-item-has-children {
  position: unset;
}

// This is the first-level sub menu
body:not(.has-mobile-menu) #main-menu > .menu-item-has-children > .sub-menu {
  width: 300px;
  justify-content: center;
  max-width: none;
}

// This is the first-level sub menu when parent is hovered
body:not(.has-mobile-menu)
  #main-menu
  > .menu-item-has-children:hover
  > .sub-menu {
  padding: 2rem 0;
  display: flex;
}

// This is the first-level sub menu list items (with children)
body:not(.has-mobile-menu)
  #main-menu
  > .menu-item-has-children
  > .sub-menu
  > .menu-item-has-children {
  display: flex;
}

// This is the second-level sub menu (so depth: 2)
body:not(.has-mobile-menu)
  #main-menu
  > .menu-item-has-children:hover
  > .sub-menu
  > .menu-item-has-children
  > .sub-menu {
  display: block;
  column-count: 2;
  position: unset;
  max-width: none;
}
/*********
END MAIN MENU ONLY Over-rides 
****************************/

@include media-breakpoint-up(lg) {
  body .sub-menu {
    position: absolute;
    z-index: 1000;
    background: $color__theme-lightgray;
  }
  body .sub-menu .sub-menu {
    left: 100%;
    top: 0;
  }
}
