.mobile-menu {
  display: flex;
  flex-direction: column;
  background: $color__theme-red;
  height: 100vh;
  position: fixed;
  z-index: 800;
  padding: 12rem 3rem 1rem;
  //   transition: all 0.4s ease-out;
  width: 100vw;
  transform: translate(100vw, 0);
  right: 0;
  @include media-breakpoint-up(md) {
    width: 50vw;
    transform: translate(50vw, 0);
  }
  @include media-breakpoint-up(lg) {
    padding: 13rem 6rem 4rem;
  }
  .langswitch {
    position: absolute;
    top: 15px;
  }
  .mobile-menu__social-links,
  .mobile-menu__social-links {
    @include font-size(20);
    @include media-breakpoint-up(lg) {
      @include font-size(30);
    }
    margin: 0;
    li + li {
      margin-left: 2rem;
    }
  }
  #mobile-logo {
    opacity: 0;
    transition: all 1s ease;
    transform: rotate(90deg);
    position: absolute;
    height: 6rem;
    width: auto;
    right: -7rem;
    bottom: 14rem;
    @include media-breakpoint-up(lg) {
      right: -4rem;
    }
  }
}

// Straight up disable non-hamburder
#main-nav {
  display: none;
}

.mobile-menu #main-nav {
  display: block;
  flex-grow: 1;
  justify-content: flex-start;
  margin-bottom: 2rem;
  li a {
    color: white;
    padding: 0.5rem 0;
    position: relative;
    &::after {
      transition: opacity 0.4s;
      opacity: 0;
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: 0.1rem;
      background: white;
    }
    &:hover::after {
      opacity: 1;
    }
  }
}

.mobile-menu #main-menu > li {
  transform: translateX(40px);
  transition: all 0.8s ease;
  opacity: 0;
  line-height: 1.6;
  @include font-size(35);
  @include media-breakpoint-up(lg) {
    @include font-size(45);
  }
  @include media-breakpoint-up(xl) {
    @include font-size(55);
  }
  &.menu-item-has-children {
    padding-left: 0;
  }
  @for $i from 0 through 10 {
    &:nth-child(#{$i + 1}) {
      transition-delay: 0.2s * $i;
    }
  }
}

.mobile-menu #main-menu > li.menu-item-has-children > a {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.mobile-menu #main-menu > li.menu-item-has-children > a:first-child::after {
  line-height: 1;
  padding-right: 0.8rem;
}

.mobile-menu .header-phone {
  padding: 1rem 2rem;
}

.mobileToggle {
  z-index: 1000;
  top: 45px;
  right: 45px;
  position: fixed;
  cursor: pointer;
  height: 22px;
  width: 40px;
  display: block;
  @include media-breakpoint-up(sm) {
    margin-left: auto;
  }
}

.mobileToggle:before,
.mobileToggle:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 40px;
  background: #fff;
  position: absolute;
  display: inline-block;
  content: '';
}

.mobileToggle,
.mobileToggle:before,
.mobileToggle:after {
  transform-origin: center center;
  // transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 400ms cubic-bezier(0.6, -0.3, 0.5, 1.3);
}
.mobileToggle.active {
  background-color: transparent;
}
.mobileToggle:after {
  bottom: 0;
}

// All the changes for items when menu item is opened
.mobile-menu-is-visible {
  .mobile-menu {
    display: flex;
    // transform: translateX(-70vw);
    // @include media-breakpoint-up(md) {
    //   transform: translateX(-50vw);
    // }
  }
  .mobile-menu__social-links,
  #mobile-logo {
    opacity: 1;
  }
  .mobile-menu #main-menu > li {
    transform: translateX(0);
    opacity: 1;
  }
  .mobileToggle:before {
    transform: translateY(10px) rotate(45deg);
  }

  .mobileToggle:after {
    transform: translateY(-9px) rotate(-45deg);
  }
}
