.modal {
  background: white;
}

.person-modal {
  &__content-wrapper,
  &__headshot {
    max-height: 40vh;
    @include media-breakpoint-up(lg) {
      max-height: none;
      order: 2;
    }
    flex: 1 0 50%;
  }
  &__position {
    @include font-size(16);
    color: $color__theme-gray;
    line-height: 1.2;
    display: block;
    padding-bottom: 1.2rem;
  }
  &__content-wrapper {
    order: 2;
    @include media-breakpoint-up(lg) {
      order: 1;
    }
    max-height: 100%;
    direction: rtl;
    padding: 2rem 1rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 30px;
      height: 18px;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 45%,
        rgba(235, 235, 235, 1) 45%,
        rgba(221, 221, 221, 1) 50%,
        rgba(235, 235, 235, 1) 55%,
        rgba(255, 255, 255, 1) 55%,
        rgba(255, 255, 255, 1) 100%
      );
      box-shadow: inset 0px 12px 0px white, inset 0 -12px 0px white;
    }
    &::-webkit-scrollbar-thumb {
      height: 6px;
      border: 12px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      -webkit-border-radius: 7px;
      background-color: $color__theme-red;
      -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
        inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
    .person-modal__content {
      direction: ltr;
    }
  }
  &__title {
    font-weight: bold;
  }
  &__headshot img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
  }
  &__body {
    @include font-size(18);
    padding-bottom: 4rem;
    @include media-breakpoint-up(lg) {
      font-size: (22);
    }
  }
}
