// From the buildy feature internal_link
.page-links-box {
    border: 3px solid $color__theme-red;
    border-radius: 2rem;
    padding: 3rem;
    h3 {
        font-family: $font__heading;
        color: $color__theme-red;
    }
    a {
        text-decoration: underline;
    }
}
