// For a basic dropdown post filter for categories (to be extended for anything)
.post-filter__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;
  }
}

#cat-select {
  flex-grow: 1;
  z-index: 5;
}

#cat-select + .search-form {
  margin-top: 2rem;
  max-width: none;
  @include media-breakpoint-up(md) {
    margin-top: 0;
    max-width: 300px;
  }
}

.widget-area {
  .widget {
    &:first-of-type {
      border-radius: 1rem 1rem 0 0;
    }
    &:last-of-type {
      border-radius: 0 0 1rem 1rem;
    }
    padding: 3rem;
    background: $color__theme-lightgray;
  }
  .widget_search {
    .search-form {
      max-width: none;
      border: 3px solid $color__theme-red;
      margin: 0;
    }
    .search-field {
      color: $color__theme-red;
      padding: 2rem;
      &::placeholder {
        color: $color__theme-red;
        font-weight: bold;
      }
    }
  }

  .widget_categories {
    .widget-title {
      color: $color__theme-red;
      @include font-size(34);
      font-weight: 600;
    }
    ul {
      @include font-size(18);
      li {
        padding-left: 2rem;
        position: relative;
        a {
          color: $color__text-main;
        }
        &::before {
          position: absolute;
          left: 0;
          top: 5px;
          color: $color__theme-red;
          font-size: 1.2rem;
          padding: 0;
          font-family: 'icomoon';
          content: '\e901';
        }
      }
    }
  }
}
