#page .nivoSlider .nivo-caption {
  max-height: none !important;
  width: 100%;
  position: unset;
  display: block;
  margin: 0 auto;
  font-family: $font__heading;
  line-height: 4rem;
  @include font-size(40);
  padding: 4rem 2rem;
  text-align: left;
  background: #30808d;
  color: white;
  max-width: none;
  @include media-breakpoint-down(md) {
    top: 0;
    transform: none;
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    width: #{$containerWidth}px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 90%;
    text-align: left !important;
    align-items: flex-start;
    padding: 3rem 3rem 3rem 0;
    background: none;
    overflow: visible;
    opacity: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    &::before {
      content: '';
      display: block;
      width: 100%;
      background: #30818e;
      height: 100%;
      position: absolute;
      left: -33.33333%;
      border-radius: 0 30px 30px 0;
      z-index: -1;
    }
  }
  @include media-breakpoint-up(xl) {
    grid-template-columns: 1fr 1fr;
    &::before {
      left: -50%;
    }
  }
}

#page .nivo-controlNav {
  width: 100%;
  max-width: #{$containerWidth}px;
  margin: 0 auto;
  justify-content: flex-start;
  right: 0;
  left: 0;
  bottom: 6rem;
}

#page
  .metaslider.ms-theme-highway
  div.slider-wrapper
  div.nivo-controlNav:not(.nivo-thumbs-enabled)
  a {
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
  background: none;
  border-color: $color__theme-red;
  &.active,
  &:hover {
    background: $color__theme-red;
  }
}

/* Testi Slider */
.testimonial-slider__slide {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:not(.image-false) {
    height: 700px;
    .container {
      padding: 12rem 0;
    }
  }
}

.testimonial-slider__slide .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.testimonial-slider__content-box {
  flex-basis: 100%;
  max-width: 80%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.822);
  padding: 4rem;
  border-radius: 30px;
  border: 4px solid $color__theme-red;
  @include media-breakpoint-up(lg) {
    flex-basis: 50%;
    margin: 0;
  }
}

.testimonial-slider__slide.is-wide .testimonial-slider__content-box {
  @include media-breakpoint-up(lg) {
    flex-basis: 75%;
  }
}

.testimonial-slider__slide.is-full .testimonial-slider__content-box {
  @include media-breakpoint-up(lg) {
    flex-basis: 100%;
  }
}

.testimonial-slider__arrow-group {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  .testimonial-slider__arrow {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    @include font-size(16);
    cursor: pointer;
    & + .testimonial-slider__arrow {
      margin-left: 1.6rem;
    }
  }
}

.is-hidden {
  opacity: 0 !important;
}
